.aboutus-section {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 90px;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    align-content: center;
    width: 80%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.values-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    width: 85%;
}

.values-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom:90px;
}

.values-section h2 {
    color: var(--text);
    font-weight: 200;
}

.values-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    font-size: 16px;
}

.value-box {
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 31%;
    min-height: 300px;
}

.value-box .bold-text {
    font-weight: 500;
    color: var(--text);
    text-align: center;
    padding-bottom: 20px;
}

.value-box .italic-text {
    text-align: justify;
    font-style: italic;
    text-align: center;
    font-weight: 500;
    width: 90%;
}

.value-box .normal-text {
    text-align:center;
    width: 80%;
    margin: 0 auto;
    line-height: 100%;
    font-weight: 200;
    padding-bottom: 20px;
}

.uno {
    background-color: rgba(255, 167, 108, 0.3); 
}

.dos {
    background-color: rgba(236, 236, 241, 0.7); 
}

.tres {
    background-color: rgba(140, 180, 255, 0.3);
}

@media (max-width: 768px) {
    .aboutus-section{
        gap: 30px;
        margin-bottom: 30px;
        width: 90%;
    }

    .about-container {
        gap: 15px;
    }
    
    .values-content, .values-content p {
        width: 100%;
        gap: 10px;
        font-size: 11px;
    }

    .value-box {
        width: 48%;
        text-align: justify;
        min-height: 100px;
        padding-bottom: 30px;
        padding-top: 30px;
        height: 200px;
    }
    
    .value-box .bold-text {
        padding-bottom: 10px;
    }
    
    .value-box .italic-text {
        text-align: center;
        width: 90%;
    }
    
    .value-box .normal-text {
        text-align: center;
        padding-bottom: 10px;
        width: 90%;
    }

    .values-section h2 {
        margin-left: 10px;
    }

    .values-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
        width: 100%;
    }
}
