@import url("home.css");
@import url("header.css");
@import url("footer.css");
@import url("main.css");

.contact-section{
    margin-top: 90px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-contacts .bold-text{
    font-weight: 600;
}

.contacts-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.contacts {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    width: 60%;
}

.contact-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contact-text p {
    text-align: center;
}

.contact p {
    text-align: center;
}

.contact a {
    color: var(--button);
    font-weight: 400;
    letter-spacing: 0px;
}

.demo-link {
    color: var(--button);
    font-size: 18px;
    text-decoration: none;
}


@media (max-width:768px) {

    .contact-section{
        margin-top: 70px;
        margin-bottom: 30px;
    }
    
    .container-contacts {
        gap: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .container-contacts .bold-text{
        font-weight: 600;
    }
    
    .contacts-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 7.5px;
        
    }
    
    .contacts {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-text {
        width: 90%;
        gap: 15px;
    }
    
    .contact-text p {
        text-align: justify;
    }

    .contact {
        width: 90%;
    }

    .contact p {
        text-align: start;
    }

    .demo-link {
        font-size: 14px;
    }

}
