@import url("home.css");
@import url("header.css");
@import url("footer.css");
@import url("main.css");

.contact-section{
    position: relative;
    top: 90px;
    width: 100%;
    padding-bottom: 210px;
    padding-top: 120px;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-contacts .bold-text{
    font-weight: 600;
}

.contacts-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.contacts {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    width: 45%;
}

.contact p {
    text-align: center;
}

.contact a {
    color: var(--button);
    font-weight: 400;
}

.demo-link {
    color: var(--button);
    font-size: 18px;
}


@media (max-width:768px) {

    .contact-section{
        position: relative;
        top: 90px;
        width: 100%;
    }
    
    .container-contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .container-contacts .bold-text{
        font-weight: 600;
    }
    
    .contacts-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 7.5px;
        
    }
    
    .contacts {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact {
        width: 45%;
    }
    
    .contact p {
        text-align: center;
    }
    
    .contact a {
        color: #FFA76C;
        font-weight: 400;
    }

    .demo-link {
        font-size: 14px;
    }

}
