@import url("home.css");
@import url("main.css");


.hero-section { 
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    min-height: 100vh;
}

.hero-content {
    text-align: center;
    width: 100%;
    position: relative;
    display: grid;
    gap: 20px;
    justify-content: center;
    
}
  
.headline {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 1px;
}

.hero-image {
    display: flex;
    justify-content: center;
}
  
.hero-image-mobile {
    display: none;
}  

.hero-image-mobile img {
    height: 550px;
    width: 500px;
}

.hero-image img {
    width: 70%;
    height: auto;
}


.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    justify-self: center;
    font: 400 24px 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #0015FF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-weight: 500;
}

.demo-button:hover {
    background-color: #FFA76C;
    color: #FFFFFF;
}

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {

    .hero-image img {
            max-width: 95%;
            height: auto;
        }
}
    
@media (max-width: 768px) {

    .hero-section {
        max-width: 90%;
        margin-top: 30px;
        min-height: 90vh;
        gap: 5px;
    }

    .hero-content {
        gap: 30px;
        line-height: 120%;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        width: 350px;
        max-width: 95%;
        height: auto;
    }

    .hero-image-desktop {
        display: none;
        max-width: 0px;
    }

    .hero-image-mobile {
        display: block;
        width: 80%;
        max-width: 450px;
        height: auto;
    }
}

@media (max-width: 389px) {
    .hero-section {
        gap: 15px;
    }
}