@import url("home.css");

.hero-section {
    position: static; /* or static — avoid absolute unless needed */
    overflow: hidden;
    background: linear-gradient(
        -160deg,
        #FFFFFF 55%,
        #EDF4FF 65%,
        #DBE9FF 75%,
        #B6D4FF 90%
    );
    min-height: 100dvh; /* allow to expand if content is taller */
    height: auto;
    width: 100%;
    padding-top: 120px;  /* optional: to offset fixed header */
    display: flex;
    justify-content: center;
}

.hero-content {
    text-align: center;
    width: 100%;
    position: relative;
    top:0;
    display: grid;
    gap: 30px;
    justify-content: center;
    
}
  
.headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 1px;
}
  
.bold-text {
    background-clip: text;
    font-weight: 700;
    color: #FFA76C;
}
  
.normal-text {
    color: #003A6D;
    font-weight: 200;
}
  
.hero-image img {
    width: 850px;
    height: 400px;
}

.hero-image-mobile {
    display: none;
}  

.hero-image-mobile img {
    height: 550px;
    width: 500px;
}

.subheadline {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}

.demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    justify-self: center;
    font: 400 24px 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #0015FF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-weight: 500;
}

.demo-button:hover {
    background-color: #FFA76C;
    color: #FFFFFF;
}

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #FFFFFF 45%, #EDF4FF 55%, #DBE9FF 75%, #B6D4FF 100%);
        align-content: center;
        padding-top: 0px;
        position: relative;
        min-height: 100dvh;
        }

    .hero-image img {
            max-width: 95%;
            height: auto;
        }
}
    
    @media (max-width: 768px) {

    .hero-section{
        padding-top: 10px;
    }

    .hero-content {
        gap: 30px;
        line-height: 120%;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        width: 400px;
        max-width: 95%;
        height: auto;
    }

    .hero-image-desktop {
        display: none;
        max-width: 0px;
    }

    .hero-image-mobile {
        display: block;
        width: 80%;
        max-width: 450px;
        height: auto;
    }
}