@import url("main.css");
@import url("success-stories.css");
@import url("hero.css");
@import url("three-steps.css");
@import url("book-demo.css");

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
  .headline {
    font-size: 48px;
  }

  .subheadline {
    font-size: 36px;
  }

  .demo-button {
      height: 70px;
      font-size: 20px;
      max-width: 205px;
  }
}
  
@media (max-width: 768px) {
  .container {
      width: 95%;
  }
}
  