.introduction-section {
    background: linear-gradient(345deg, #FFFFFF 55%, #EDF4FF 65%, #DBE9FF 75%, #B6D4FF 90%);
    position: static;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 60px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.introduction-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 60px;
    width: 100%;
    height: auto;
    max-width: 1250px;
}

.introducing-wiselook {
    position: relative;
    height: 830px;
    width: calc(100% - 0px - 0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 9
}

.introducing-wiselook-2, .introducing-wiselook-2 span {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-block: 0;
}

.introducing-wiselook-3 {
    background: rgba(0, 58, 109, 1);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
}

.pantalla-iphone {
    position: relative;
    height: 597px;
    width: 1250px;
}

.screen-container {
    
    background: rgba(196, 196, 196, 0);
    height: 592px;
    width: 289px;
    left: 0px;
    top: calc(50% - 293.5px);
}

.screen-iphone {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
    width: 80%;
    gap: 30px;
}

.screen-iphone img { 
    max-height: 500px;
    max-width: 250px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.formula-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.formula-container img { 
    max-height: 500px;
    max-width: 620px;
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.formula-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 100%;
}

.formula-image {
    display: flex;
    height: auto;
    width: 95%;
    left: 0px;
    top: 0px;
    justify-content: flex-end;
}

.formula-image img {
    width: 90%;
    height: auto;
    justify-self: center;
}

.uncover-potential {
    display: flex;
    text-align: justify;
    align-items: center;
    height: 108px;
    width: 815px;
    
    left: 0px;
    top: 0px;
}

.uncover-paragraph {
    display: flex;
    text-align: justify;
    align-items: center;
    height: auto;
    width: 30%;
    max-width: 815px;
}

.solve-talvis {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    width: 80%;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 250px;
}

.sophia-container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 90px;
}

p.sophia-text {
    width: 31%;
    max-width: 430px;
}

.video-container img {
    max-height: 500px;
    max-width: 250px;
    height: auto;
    display: block;
    z-index: 1;
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  }

.play-button-eclipse { 
    background: rgba(0, 21, 255, 1);
    border-color: #fa8f47ff;
    border-style: solid;
    border-width: 1.5px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 1px
    rgba(255, 167, 108, 1);
}


.play-button-triangle {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid white; /* Color of the triangle */
  position: absolute;
}

.demo-req-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 42px;
    width: 226px;
    position: relative;
}

.pantalla-iphone,
.imagen-iphone-container {
  position: relative; /* or remove if not absolutely needed */
  max-width: 100%;
  height: auto;
}

.hero-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }


@media (max-width: 1250px) {
    .screen-iphone {
      flex-direction: row;
      gap: 40px;
    }
  
    .screen-iphone img {
      width: 30%;
    }
  
    .imagen-iphone.container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .formula-container {
      width: 100%;
      align-items: center;
    }
  
    .formula-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .formula-image img {
      width: 100%;
      height: auto;
    }
  
    .solve-talvis {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 100%;
        width: 90%;
        gap: 30px;
    }
  
    .sophia-container {
      align-items: center;
      text-align: center;
      gap: 60px;
      width: 80%;
      justify-content: flex-start;
    }
  
    .sophia-video img {
      width: 100%;
      height: auto;
    }
  
    .play-button-eclipse {
      position: static; /* Stop absolute overlapping */
      margin: 0 auto;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .imagen-iphone-container {
        width: 100%;
        left:0;
        display: flex;
        justify-content: center;
    }

    .formula-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .formula-container img {
        width: 100%;
    }

    p.sophia-text {
      width: 51%;
      max-width: 430px;
    }

    .video-container {
      width: 45%;
    }
  
  
  
  

  }

  @media (max-width: 767px) {
    .introduction-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(30deg, #B6D4FF 55%, #DBE9FF 65%, #EDF4FF 75%, #FFFFFF 90%);
      padding-top: 0px;
    }
  
    .introduction-container {
      gap: 40px;
      width: 100%;
    }
  
    .screen-iphone {
      flex-direction: column;
      gap: 30px;
      width: 100%;
      align-items: center;
      padding-bottom: 30px;
    }

    .screen-iphone img {
      width:50%;
    }
  
    .imagen-iphone.container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .imagen-iphone.container img {
      width: 90%;
      height: auto;
      max-width: 100%;
    }
  
    .formula-container {
      width: 100%;
      align-items: center;
      gap: 20px;
    }
  
    .formula-text-container {
      width: 90%;
      text-align: center;
    }

    .formula-mobile {
      display:contents;
    }

    .formula-desktop {
      display:none;
    }

    .formula-container img {
      max-width: 80%;
      height: 30px;
      left: -0.5%;
      position: relative;
    }
  
    .introducing-wiselook-2 {
      width: 100%;
      padding: 0 10px;
    }

    h3 .normal-text {
        font-weight: 200;
    }

    .solve-talvis {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      max-width: 100%;
      width: 100%;
      gap: 30px;
  }

  .solve-talvis h3 {
    width: 99%;
  }

  p.sophia-text {
    width:100%;
    max-width: 430px;
  }

  .sophia-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 89%;
  }
}
  