@import url("home.css");
.success-stories {
  height: auto;
  width: 90%;
  display: flex;
  padding: 0px;
  margin-block-end: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  gap: 30px;
}

.success-tables {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}


.table {
  width: 49%;
  max-width: 500px;
  height: auto;
}

.table img {
  width: 100%;
}

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
    .success-stories {
      display: grid;
      justify-items: center;
    }

    .success-tables {
        gap:10px;
    }

    .table {
      max-width: 49%;
    }
  }
  
  @media (max-width: 768px) {
    .success-stories{
      z-index: 0;
      position: relative;
      margin-block-end: 60px;
    }

    /*.success-stories::before,
    .success-stories::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 60px;
      z-index: 2;
      pointer-events: none;
    }

    .success-stories::before {
      top: 0;
    }

    .success-stories::after {
      bottom: 0;
    }*/
  
    .success-tables {
      flex-direction: column;
      align-items: center;
      gap:15px;
    }

    .table {
        width: 85%;
        max-width: 450px;
        height: auto;
    }

    /*.container {
      z-index: 1;
    }*/
    
  }