@import url("home.css");
.success-stories {
  height: auto;
  width: 100%;;
  min-height: 800px; /* Fills at least 1 screen height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center;     /* Centers horizontally */
  text-align: center;
  background: linear-gradient(345deg, #FFFFFF 55%, #EDF4FF 65%, #DBE9FF 75%, #B6D4FF 90%);
  align-content: center;
}

.success-content {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 60px;
}

.success-tables {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}


.table {
  position: relative;
  width: 49%;
  max-width: 615px;
  height: auto;
}

/*.image-success{
  position: relative;
  background: url(assets/images/image_16.png)
      100% / cover no-repeat;
  height: 490px;
  width: 615px;
}*/

.table img {
  width: 100%;
}

/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
    .success-stories {
      padding-top: 0px; 
      display: grid;
      justify-items: center;
      background: linear-gradient(0deg, #FFFFFF 60%, #EDF4FF 75%, #DBE9FF 85%, #B6D4FF 100%);
      min-height: 600px;
    }

    .success-tables {
        gap:10px;
    }

    .table {
      max-width: 49%;
    }
  }
  
  @media (max-width: 768px) {
    .success-content {
        gap: 20px;
        line-height: 120%;
      }

    .success-stories{
      padding-top: 0;
      background: #EDF4FF;
      z-index: 0;
      position: relative;
      min-height: 750px;
    }

    .success-stories::before,
    .success-stories::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 60px;
      z-index: 2;
      pointer-events: none;
    }

    .success-stories::before {
      top: 0;
      background: linear-gradient(to bottom, white, transparent);
    }

    .success-stories::after {
      bottom: 0;
      background: linear-gradient(to top, white, transparent);
    }
  
    .success-tables {
      flex-direction: column;
      align-items: center;
      gap:15px;
    }

    .table {
        width: 90%;
        max-width: 450px;
        height: auto;
    }

    .container {
      z-index: 1;
    }
    
  }