@import url("home.css");

.three-steps {
    height: auto;
    width: 100%;;
    min-height: 600px; /* Fills at least 1 screen height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;     /* Centers horizontally */
    text-align: center;
    background: linear-gradient(345deg, #FFFFFF 55%, #EDF4FF 65%, #DBE9FF 75%, #B6D4FF 90%);
    align-content: center;
}

.step-tables {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.table-steps img {
    max-width: 300px;
}


/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {

    .step-tables{
        gap: 5px;
    }
    .table-steps img {
        max-width: 245px;
    }
}
  
@media (max-width: 768px) {
    .three-steps {
        min-height: 800px; /* Fills at least 1 screen height */
    }

    .step-tables {
        flex-wrap: wrap;
        gap: 10px;
    }

    .table-steps img {
        max-width: 245px;
    }
    
    
    
}