@import url("home.css");

.three-steps {
    height: auto;
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;     /* Centers horizontally */
    text-align: center;
    align-content: center;
}

.step-tables {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.table-steps img {
    max-width: 300px;
}


/* ========= GENERAL RESPONSIVENESS ========== */
@media (max-width: 1200px) {
    .three-steps {
        padding-bottom: 30px;
    }

    .step-tables{
        gap: 5px;
    }
    .table-steps img {
        max-width: 245px;
    }
}
  
@media (max-width: 768px) {
    .three-steps {
        padding-bottom: 60px;
    }

    .three-steps h2 {
        width: 90%;
    }

    .step-tables {
        flex-wrap: wrap;
        gap: 10px;
    }

    .table-steps img {
        max-width: 245px;
    } 
}